body {
  background-color: #f9f4e8;
  font-family: "leto" sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f9f4e8;
  padding: 1rem;
}
.cabecalho figure {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.cabecalho .nav__link {
  display: flex;
  background-color: #f9f4e8;
}
.cabecalho .nav__link a {
  margin: 1rem;
}
.cabecalho .link {
  color: #777674;
}
.cabecalho .link__join {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.link__button {
  background-color: #4977ea;
  color: #f9f4e8;
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  border-radius: 5px;
}
.link__button:hover {
  opacity: 90%;
  text-decoration: underline;
}

.link__hosterr {
  background-image: linear-gradient(70deg, #eaae52, #ea686d);
  padding: 0.5rem;
  border-radius: 25px;
  color: #f9f4e8;
}

.link:hover, .link__hosterr:hover {
  text-decoration: underline;
  color: red;
}

@media screen and (max-width: 900px) {
  .responsive {
    display: none;
  }
  .cabecalho {
    display: flex;
    justify-content: space-between;
  }
}
.container__principal {
  width: 1100px;
  min-width: none;
  height: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container__principal .imagem__fundo {
  grid-column: 2/2;
  position: relative;
}
.container__principal .imagem__fundo .img__blue {
  z-index: 1;
  position: absolute;
  transform: rotate(-45deg);
  top: 1rem;
  right: 0.1666666667rem;
  width: 300px;
}
.container__principal .imagem__fundo .img__pink {
  z-index: 2;
  position: absolute;
  transform: rotate(-35deg);
  top: 1rem;
  right: 0.1666666667rem;
  width: 300px;
}
.container__principal .imagem__fundo .img__purple {
  z-index: 3;
  position: absolute;
  transform: rotate(-20deg);
  top: 1rem;
  right: 0.1666666667rem;
  width: 300px;
}
.container__principal .imagem__fundo .img__logo {
  z-index: 4;
  position: absolute;
  transform: rotate(0deg);
  top: 1rem;
  right: 0.1666666667rem;
  width: 300px;
}
.container__principal .container__texto {
  grid-column: 1/1;
}
.container__principal .container__texto .container__titulo {
  font-size: 3.5rem;
}
.container__principal .container__texto .subtitulo {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
}
.container__principal .container__texto .icon__check::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  padding-top: 0.125rem;
  background: url("/Assets/img/Checkmark.svg") center/contain no-repeat;
}

@media screen and (max-width: 1000px) {
  .container__principal {
    width: 800px;
    min-width: none;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 305px 1fr;
    justify-content: center;
  }
  .container__principal .imagem__fundo {
    grid-column: span 2;
    grid-row: span 1;
  }
  .container__principal .container__texto {
    grid-column: span 3;
    grid-row: 2/2;
    margin-left: 2rem;
  }
  .container__principal .container__texto .subtitulo {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
  }
  .container__principal .container__texto .icon__check {
    font-size: 1.4rem;
  }
}
.formulario {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}
.formulario .e-mail {
  width: 80%;
  border: none;
}
.formulario .e-mail:-moz-placeholder-shown {
  font-size: 1.2rem;
}
.formulario .e-mail:-ms-input-placeholder {
  font-size: 1.2rem;
}
.formulario .e-mail:placeholder-shown {
  font-size: 1.2rem;
}

.rodape {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
}
.rodape .link__rodape, .rodape .talk {
  display: flex;
}
.rodape .link__rodape a {
  color: purple;
  margin: 5px;
}/*# sourceMappingURL=style.css.map */